.title {
  margin: 10px;
}

.container {
  padding: 20px;

  display: flex;
  width: 600px;
  justify-content: space-between;
}

.date-wrapper {
  position: relative;
}

.hiden {
  color: transparent !important;
}
